.template-create {
    margin-left: 70px;
    padding: 20px;
    font-family: "Sen", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.template-create .content {
    width: 100%;
    max-width: 600px;
}

.template-create .title {
    font-size: 2.6rem;
    font-weight: 600;
}

.template-create .form-group {
    font-size: 1.4rem;
}

.template-create .form-group .form-control {
    font-size: 1.4rem;
}

.template-create .form-group .form-select {
    font-size: 1.4rem;
}

.template-create .preview-image {
    overflow: hidden;
}

.template-create .button {
    font-size: 1.4rem;
    display: inline-block!important;
    width: 120px;
    background-color: var(--main-color);
    border: none;
    line-height: 40px;
}

.template-create .button-cancel {
    background-color: red;
}