.preview-cnt {
    display: grid;
    gap: 3rem;
    grid-template-columns: 65% auto;
    aspect-ratio: 1 / 1.414;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    font-family: "Poppins", sans-serif;
    padding: 4.2rem 3rem;
}

.preview-cnt-r {
    background-color: #200046;
    color: #fff;
    padding: 12rem 2rem 2rem;
}

.preview-image {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 2rem;
}

.preview-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.preview-item.preview-item-name {
    font-size: 2rem;
    font-weight: 600;
    position: relative;
    margin-top: 1rem;
    margin-bottom: 0;
}

.preview-item.preview-item-job {
    font-size: 1.2rem;
}

.detail-title {
    font-weight: 600;
}

.preview-item.preview-item-objective {
    text-align: justify;
}

.preview-blk {
    padding: 1rem 0;
    margin-bottom: 0.8rem;
}

.preview-blk-title {
    margin-bottom: 0.4rem;
}

.preview-blk-title h3 {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding-bottom: 0.5rem;
}

.preview-item {
    font-size: 0.9rem;
    margin-bottom: 0.6rem;
}

.achievements-items.preview-blk-list .preview-item span:first-child {
    font-weight: 600;
    display: block;
}

.educations-items.preview-blk-list .preview-item span:first-child,
.experiences-items.preview-blk-list .preview-item span:first-child {
    margin-right: 1rem;
    font-weight: 600;
}

.educations-items.preview-blk-list .preview-item span:nth-child(4),
.experiences-items.preview-blk-list .preview-item span:nth-child(4) {
    font-weight: 600;
    display: block;
}

.experiences-items.preview-blk-list .preview-item span:nth-child(5) {
    font-size: 0.9rem;
    display: block;
    text-align: justify;
}
.projects-items.preview-blk-list .preview-item span:first-child {
    font-weight: 600;
    display: block;
}
.projects-items.preview-blk-list .preview-item span:nth-child(2) {
    display: block;
    text-align: justify;
}