.preview-cnt {
    aspect-ratio: 1 / 1.414;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    font-family: "Poppins", sans-serif;
    padding: 4rem 3rem;
}

.preview-cnt-t {
    display: grid;
    gap: 3rem;
    grid-template-columns: 25% auto;
}

.preview-cnt-b {
    display: grid;
    gap: 3rem;
    grid-template-columns: 65% auto;
}

.preview-image {
    width: 10rem;
    height: 10rem;
    overflow: hidden;
    margin-bottom: 1rem;
}
.preview-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.preview-cnt-t .preview-cnt-l .preview-item {
    margin-bottom: 0.2rem;
}
.preview-item.preview-item-name {
    font-size: 3.2rem;
    font-weight: 600;
    position: relative;
    line-height: 30px;
    margin-bottom: 1.4rem;
}

.preview-item.preview-item-job {
    font-size: 1.4rem;
    font-weight: 600;
}

.detail-title {
    font-weight: 600;
}

.preview-item.preview-item-objective {
    text-align: justify;
}

.preview-blk {
    padding: 1rem 0;
}

.preview-cnt-b .preview-cnt-l .preview-blk {
    padding-bottom: 0;
}

.preview-cnt-r .preview-blk {
    background-color: #e8e8e8;
    padding: 1rem;
    border-radius: 10px;
}

.preview-blk-title {
    margin-bottom: 0.4rem;
}

.preview-blk-title h3 {
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding-bottom: 0.5rem;
}

.preview-item {
    font-size: 0.9rem;
    margin-bottom: 0.6rem;
}

.skills-items .preview-item {
    margin-bottom: 0.4rem;
}

.achievements-items.preview-blk-list .preview-item span:first-child {
    font-weight: 600;
    display: block;
}

.educations-items.preview-blk-list .preview-item span:first-child,
.experiences-items.preview-blk-list .preview-item span:first-child{
    font-size: 1.2rem;
    margin-right: 1rem;
    font-weight: 600;
    background-color: black;
    color: white;
    padding: 0 0.2rem;
}

.educations-items.preview-blk-list .preview-item span:nth-child(2),
.experiences-items.preview-blk-list .preview-item span:nth-child(2),
.educations-items.preview-blk-list .preview-item span:nth-child(3),
.experiences-items.preview-blk-list .preview-item span:nth-child(3){
    font-size: 1.2rem;
}

.educations-items.preview-blk-list .preview-item span:nth-child(4),
.experiences-items.preview-blk-list .preview-item span:nth-child(4){
    font-weight: 600;
    display: block;
    font-size: 1.1rem;
    margin-top: 0.2rem;
}

.experiences-items.preview-blk-list .preview-item span:nth-child(5){
    font-size: 0.9rem;
    display: block;
    text-align: justify;
}
.projects-items.preview-blk-list .preview-item span:first-child{
    font-weight: 600;
    display: inline-block;
    font-size: 1.2rem;
    background-color: black;
    color: white;
    padding: 0 0.2rem;
}
.projects-items.preview-blk-list .preview-item span:nth-child(2){
    display: block;
    text-align: justify;
}